@*@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@

@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content text-center p-md">

                <h2>
                    <span class="text-navy">INSPINIA - Responsive Admin Theme</span>
                    is provided with two main layouts <br />three skins and separate configure options.
                </h2>

                <p>
                    All config options you can trun on/off from the theme box configuration (green icon on the left side of page).
                </p>


            </div>
        </div>
    </div>
</div>